body {
    background-image: url(../img/backdrop.png);
    font-family: 'Asap Condensed', sans-serif;
}


#titleMain img {
    width: 400px;
}

#formMain {
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    width: 400px;
    background-color: ghostwhite;
    border-radius: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0px 0px 50px black;
}

#formMain hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#formBody {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

::-webkit-input-placeholder {
    font-family: 'Asap Condensed', sans-serif;
}

.inptMain {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
}

.btntxt {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 240px;
    font-family: 'Asap Condensed', sans-serif;
    background-color: ;
}
.btnSubmit {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #a2d3b1;
  background: #ffffff;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btnSubmit:hover {
  background: #a2d2b1;
  color:white;
  text-decoration: none;
}

#formFooter a {
    padding: 5%;
    text-decoration: none;
}

#formFooter a:visited {
    color: black;
    
}

#formFooter a:hover {
    color: darkseagreen;
}