body {
    background-image: url(../img/backdrop.png);
    font-family: 'Asap Condensed', sans-serif;
}
* {box-sizing:border-box}
.graybox{
	background-color:rgba(128,128,128,0.2);
	height:320px
}
/* Slideshow container1 */
.slideshow-container {
  max-width: 100%;
  width:325px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
	margin-left:-162px;
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*Slideshow container2*/
.slideshow-container2 {
  max-width: 100%;
  width:325px;
  position: relative;
  margin: auto;
}

.mySlides2{
    display: none;
}

/* Next & previous buttons */
.prev2, .next2 {
	margin-left:-162px;
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Slideshow container3 */
.slideshow-container3 {
  max-width: 100%;
  width:325px;
  position: relative;
  margin: auto;
}

.mySlides3 {
    display: none;
}

/* Next & previous buttons */
.prev3, .next3 {
	margin-left:-162px;
	cursor: pointer;
	position: absolute;
	top: 55%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next3 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover, .next3:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text3 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext3 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot3 {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active3, .dot3:hover {
  background-color: #717171;
}

/* Fading animation */
.fade3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#titleMain img {
    width: 400px;
}

#formMain {
	overflow-y: scroll;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    width: 400px;
	height:670px;
    background-color: ghostwhite;
    border-radius: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    box-shadow: 0px 0px 50px black;
}

#formMain hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#formBody {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
}

::-webkit-input-placeholder {
    font-family: 'Asap Condensed', sans-serif;
}

.pressed{
	background-color:rgba(128,128,128,0.5);
	width:50px;
	height:50px;
	border-radius: 25px;
}
.inptMain {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
}

.btntxt {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 240px;
    font-family: 'Asap Condensed', sans-serif;
    background-color: ;
}
.btnSubmit {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #a2d3b1;
  background: #ffffff;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}
.fixedHead{
	background-color:ghostwhite;
	width: 400px;
	border-radius: 25px 25px 0px 0px;
	
	z-index: 9999;
	padding-top:5px;
	position:fixed;
    top: 150px;
}
.fixedFooter{
	background-color:ghostwhite;
	width: 400px;
	border-radius: 0px 0px 25px 25px;
    padding-bottom: 15px;
	z-index: 9999;
	position:fixed;
    top: 713px;

	
}
.btnSubmit:hover {
  background: #a2d2b1;
  color:white;
  text-decoration: none;
}

#signInNow:hover {
	color:#a2d2b1;
}

#formFooter a {
    padding: 5%;
    text-decoration: none;
}

#formFooter a:visited {
    color: black;
    
}

#formFooter a:hover {
    color: darkseagreen;
}
.discover{
	color:black;
	float:right;

	margin-right:40px;
	font-size:10px;

}
.discover:hover{
	color:#a2d2b1;
}
::-webkit-scrollbar { 
    display: none; 
}
